.App {
  margin: 0%;
}

.Container {
  text-align: center;
  display: grid;
  grid-template-columns: 10% 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: hsl(200, 24%, 40%);
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  color: white;
  border-radius: 0px 0px 30px 30px;
  align-content: center;
}

.header-container {
  display: block;
  margin: auto;
  width: 100%;
}

.App-main {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

@media only screen and (min-width: 769px) {
  .App {
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: hsl(203, 41%, 72%);
  }

  .Container {
    min-height: 60vh;
    height: 80vh;
    width: 65%;
    border-radius: 30px;
  }

  .App-header {
    border-radius: 30px 30px 30px 30px;
  }
}
